@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply p-4
    } 

    button {
        @apply text-white border bg-cyan-700 border-cyan-700
        hover:bg-transparent hover:text-cyan-700 rounded-md
    } 
}  